/* common */
@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
  url('../fonts/source-sans-pro-v12-latin-regular.woff2') format('woff2'),
  url('../fonts/source-sans-pro-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url('../fonts/source-sans-pro-v12-latin-700.woff2') format('woff2'),
  url('../fonts/source-sans-pro-v12-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

svg {
  width: 100%;
  height: 100%;
}

:root {
  scroll-behavior: smooth;
  --device-type: desktop;
}

@media only screen and (max-width: 414px) {
  /* mobile view */
  :root {
    --device-type: mobile;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /* tablet view */
  :root {
    --device-type: tablet;
  }
}

body {
  font: 16px 'Source Sans Pro', sans-serif;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--main-text__color);
  background-color: var(--body-bg__color);
}

.has-menu {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

section {
  position: relative;
  z-index: 0;
}

.hero__bg .picture,
.hero__bg .picture * {
  height: 100%;
}

.section__inner {
  box-sizing: content-box;
  margin: 0 auto;
}

@media only screen and (max-width: 414px) {
  /* mobile view */
  .section__inner {
    padding: 0 17px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /* tablet view */
  .section__inner {
    max-width: none;
    padding: 0 24px;
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .section__inner {
    max-width: 1200px;
    padding: 0 75px;
  }
}

.svg__holder {
  display: none;
}

/* logo */
.logo {
  display: block;
  width: 118px;
  height: 36px;
}

.logo__header {
  margin-right: auto;
  fill: var(--main-highlight__color);
}

@media only screen and (max-width: 414px) {
  /* mobile view */
  .logo__header {
    overflow: hidden;
    order: 2;
    box-sizing: content-box;
    width: 29px;
    height: 32px;
    margin-right: 0;
    margin-left: auto;
    border: solid transparent;
    border-width: 14px 18px;
    fill: #fff;
  }

  .has-menu .logo__header,
  .scrolled .logo__header {
    fill: var(--main-highlight__color);
  }

  .logo__header svg {
    width: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /* tablet view */
  .logo__header {
    order: 2;
    width: 96px;
    height: 29px;
  }
}

.logo__footer {
  fill: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin: 0;
  color: var(--main-title__color);
}

@media only screen and (max-width: 414px) {
  /* mobile view */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /* tablet view */
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  /* tablet & mobile view */
  .section__text,
  .subsection__text {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .section__text,
  .subsection__text {
    font-size: 16px;
    line-height: 26px;
  }
}

.section__text a,
.subsection__text a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--main-link__color);
}

.section__text a::after,
.subsection__text a::after {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;
  height: 1px;
  content: '';
  background-color: var(--main-link__color);
}

.get__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  width: 276px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 2px solid var(--main-highlight__color);
  border-radius: 27px;
  background-color: var(--main-highlight__color);
}

.get__button:hover {
  color: var(--main-highlight__color);
  background-color: rgb(255, 255, 255);
}

.get__button:active {
  color: var(--main-highlight__color);
  background-color: rgba(87, 18, 176, 0.05);
}

/* effects */
.levitate {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-duration: var(--levDur);
  transition-property: transform;
  transform: translateY(var(--rndPos));
}

.opacity {
  transition-timing-function: linear;
  transition-duration: var(--opDur);
  transition-property: opacity;
  opacity: var(--rndOp);
}
