/* components */
.components {
  text-align: center;
}

@media only screen and (max-width: 414px) {
  /* mobile view */
  .components {
    padding: 30px 0;
    background: url('../images/comp_stars-b.png') no-repeat center bottom,
    url('../images/comp_stars-t.png') no-repeat center top,
    linear-gradient(45deg, rgb(62, 20, 147) 0%, rgb(100, 31, 195) 100%);
    overflow: hidden;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1024px) {
  /* tablet view */
  .components {
    padding: 30px 0;
    background: url('../images/comp_stars-b.png') no-repeat center bottom,
    url('../images/comp_stars-t.png') no-repeat center top,
    linear-gradient(45deg, rgb(62, 20, 147) 0%, rgb(100, 31, 195) 100%);
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .components {
    padding: 145px 0 130px;
    background: url('../images/comp_stars-b.png') no-repeat center bottom,
    url('../images/comp_stars-t.png') no-repeat center top,
    url('../images/comp_stars-l.png') no-repeat left center,
    url('../images/comp_stars-r.png') no-repeat right center,
    linear-gradient(45deg, rgb(62, 20, 147) 0%, rgb(100, 31, 195) 100%);
  }
}

.components .partial .title {
  position: absolute;
  fill: #f2f2f2;
}

.components .section__title {
  padding: 0 20px 50px;
  color: #fff;
}

/* description */
.components .description {
  color: #fff;
}

