/* components */
.components {
  padding: 145px 0 130px;
  background: url('../images/comp_stars-b.png') no-repeat center bottom,
  url('../images/comp_stars-t.png') no-repeat center top,
  url('../images/comp_stars-l.png') no-repeat left center,
  url('../images/comp_stars-r.png') no-repeat right center,
  linear-gradient(45deg, rgb(62, 20, 147) 0%, rgb(100, 31, 195) 100%);
}

.components section {
  position: static;
}

.components .section__inner {
  position: relative;
  display: flex;
  align-items: center;
}

.components .picture {
  width: 680px;
  height: 441px;
}

.components .picture image {
  position: relative;
  z-index: 0;
}


.components .subsection:not(:hover) .partial {
  display: none;
}

.components .glow__box {
  position: absolute;
  width: 106px;
  height: 132px;
  background-image: url('../images/glow-box@1x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.components .partial .title {
  position: absolute;
  fill: #f2f2f2;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .img {
    background-image: url('../images/glow-box@2x.png');
  }
}

/* platform */
.components .platform .title {
  top: 228px;
  left: 168px;
  width: 102px;
  height: 60px;
}

.components .platform .glow__box.box1 {
  top: 87px;
  left: 187px;
}

.components .platform .glow__box.box2 {
  top: 27px;
  left: 291px;
}

.components .platform .glow__box.box3 {
  top: 149px;
  left: 293px;
}

/* integration */
.components .integration .title {
  top: 33px;
  left: 502px;
  width: 98px;
  height: 58px;
}

.components .integration .glow__box.box1 {
  top: -25px;
  left: 381px;
}

.components .integration .glow__box.box2 {
  top: 35px;
  left: 492px;
}

.components .integration .glow__box.box3 {
  top: 90px;
  left: 399px;
}

/* elastic */
.components .elastic .title {
  top: 336px;
  left: 353px;
  width: 61px;
  height: 35px;
}

.components .elastic .glow__box.box1 {
  top: 212px;
  left: 403px;
}

.components .elastic .glow__box.box2 {
  top: 153px;
  left: 507px;
}

.components .elastic .glow__box.box3 {
  top: 98px;
  left: 601px;
}

.components .description {
  max-width: 420px;
  margin-left: 100px;
  color: #fff;
}

.components .section__title {
  padding: 0 20px 50px;
  color: #fff;
}

.components .subsection {
  margin: 0;
  padding: 20px;
  border-radius: 8px;
}

.components .subsection:hover {
  background: rgba(255, 255, 255, .14);
}

.components .description .subsection__text {
  margin: 0
}
