/* services links */
.links {
  display: flex;
  padding: 17px 0 17px 50px;
  align-items: flex-end;
}

.links .icon:not(:first-child) {
  display: block;
  margin: 0 0 0 24px;
}

.links .icon svg {
  display: block;
  width: 32px;
  height: 32px;
  fill: var(--nav__header-color);
  transition: fill .3s;
}

.links__header .icon:focus svg {
  fill: var(--nav__header-focus-color);
}

.links__header .icon:hover svg {
  fill: var(--nav__header-hover-color);
}

.links__header .icon:active svg {
  fill: var(--nav__header-active-color);
}

.scrolled .links__header .icon svg {
  fill: var(--scrolled-nav__header-current-color);
}

.scrolled .links__header .icon:focus svg {
  fill: var(--scrolled-nav__header-focus-color);
}

.scrolled .links__header .icon:hover svg {
  fill: var(--scrolled-nav__header-hover-color);
}

.scrolled .links__header .icon:active svg {
  fill: var(--scrolled-nav__header-active-color);
}

.links__footer .icon:focus svg {
  fill: var(--nav__header-focus-color);
}

.links__footer .icon:hover svg {
  fill: var(--nav__header-hover-color);
}

.links__footer .icon:active svg {
  fill: var(--nav__header-active-color);
}
