/*#region navigation */
.nav {
  display: flex;
  align-items: stretch;
}

@media only screen and (max-width: 1024px) {
  /* mobile & tablet view */
  .nav__header {
    flex-direction: column;
  }
}

/*#endregion */

/*#region navigation links */
.nav a {
  font: bold 16px/20px 'Source Sans Pro', serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-time), padding var(--transition-time);
  white-space: nowrap;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  /* mobile & tablet view */
  .nav__header a {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .nav a {
    height: 40px;
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .nav a {
    height: 40px;
  }
}

.nav__header a::after {
  position: absolute;
  display: block;
  content: '';
  transition: background-color var(--transition-time);
  border-radius: 5px;
  background-color: transparent;
}

.nav__header a.current::after {
  background-color: var(--nav-header__color__current);
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .nav__header a::after {
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: transparent;
  }

  .scrolled .nav__header a.current::after {
    background-color: var(--nav-header__color__current__scrolled);
  }
}

.nav a.current {
  color: var(--nav-header__color__current);
}

.nav a:focus {
  color: var(--nav-header__color__focus);
}

.nav a:hover {
  color: var(--nav-header__color__hover);
}

.nav a:active {
  color: var(--nav-header__color__active);
}

@media only screen and (max-width: 1024px) {
  /* mobile & tablet view */
  .nav__header a:not(:first-child) {
    border-top: 1px solid #D8D8D8;
  }

  .nav__header a.current {
    color: var(--nav-header__color__current__scrolled);
  }

  .nav__header a.current::after {
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: var(--main-highlight__color);
  }

  .scrolled .nav__header a.current::after {
    background-color: var(--main-highlight__color);
  }
}

/*#endregion */

/*#region nav header */
@media only screen and (max-width: 1024px) {
  /* mobile & tablet view */
  .nav a {
    height: 78px;
    padding: 0 24px;
    color: var(--nav-header__color__scrolled);
  }
}

@media only screen and (min-width: 1025px) {
  /* desktop view */
  .nav a {
    height: 70px;
    padding: 0 21px;
  }

  .nav__header a {
    color: var(--nav-header__color);
  }

  .nav__header a.current::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 5px;
    content: '';
    transition: background-color var(--transition-time);
    border-radius: 5px;
    background-color: var(--nav-header__color__current);
  }

  .scrolled .nav__header a.current::after {
    background-color: var(--nav-header__color__current__scrolled);
  }
}

.nav__header {
  align-self: stretch;
}

.scrolled .nav__header a {
  color: var(--nav-header__color__scrolled);
}

.scrolled .nav__header a:focus {
  color: var(--nav-header__color__focus__scrolled);
}

.scrolled .nav__header a:hover {
  color: var(--nav-header__color__hover__scrolled);
}

.scrolled .nav__header a:active {
  color: var(--nav-header__color__active__scrolled);
}

.scrolled .nav__header a.current {
  color: var(--nav-header__color__current__scrolled);
}

/*#endregion */

/*#region nav footer */
.nav__footer a {
  padding: 0;
  color: var(--nav-header__color);
}

.nav__footer a:not(:last-child) {
  margin-right: 31px;
}

/*#endregion */
